* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #FFFFFF, #35A7FF);
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container-cadastro .card{
    border-radius: 24px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container-cadastro .container{
    border-radius: 12px;
}

::placeholder{
    color: #ddb6b6 !important;
    opacity: 1 ;
}

#tem-conta  {
    text-align: center;
    margin-top: 16px;
}

#tem-conta a{
    color: #35A7FF;
    text-decoration: none;
}

#tem-conta:hover a {
    color: #6BF178;
    text-decoration: underline;

}


main section h2 {
    margin-bottom: 24px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;    
    text-align: center;
    text-shadow: #dd0000;
}
#tem-conta a:active {
    color: #FF5733;
}

.form-control {
    transition: all .2s ease-in-out;
    border: 1px solid #ccc;
}

.form-control:hover {
    border-color: #35A7FF;
    box-shadow: 0 0 6px rgba(53, 167, 255, 0.4);
}

.input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.input-wrap input {
    padding: 12px 10px;
    border-radius: 8px;
}

/* Label flutuante */
.input-wrap label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #8b8b8b;
    font-size: 0.95rem;
    pointer-events: none;
    transition: all .20s ease-in-out;
    background: transparent;
    padding: 0 6px;
}

/* Estilos de Validação */

.col-md-6 .error-message {
    display: none;
    color: #e74c3c;
    /* Vermelho */
    font-size: 0.875em;
    margin-top: 5px;
}

.col-md-6.error .form-control {
    border-color: #e74c3c;
}

.col-md-6.error .error-message {
    display: block;
}


.col-md-6.success .form-control {
    border-color: #2ecc71;
}